* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.product-card {
  height: 450px;
  width: 320px;
  background-color: #232323;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
/* product green background */
.product-card::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #9bdc28;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s;
}
.product-card:hover::before {
  clip-path: circle(300px at 80% -10%);
}

/* product shoe styles */
.card-image {
  max-width: 250px;
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(120%);
  transition: 0.5s;
}
.product-card:hover .card-image {
  transform: translateY(20%);
}

.card-image img {
  width: 100%;
  transform: rotate(-25deg);
}

/* body styles */
.card-body {
  position: absolute;
  height: 100px;
  bottom: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.sizes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizes span {
  height: 25px;
  width: 25px;
  background-color: #fff;
  color: black;
  margin-left: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.colors span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 10px;
}
.colors span:nth-child(2) {
  background-color: #9bdc28;
}
.colors span:nth-child(3) {
  background-color: magenta;
}
.colors span:nth-child(4) {
  background-color: rgb(162, 3, 3);
}

.card-body h3 {
  margin: 7px 0;
}

.buy-btn {
  border: none;
  outline: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 7px;
}
/* card body transition */
.product-detail {
  opacity: 0;
  transition: 0.5s;
}
.product-card:hover .card-body {
  height: 200px;
}
.product-card:hover .product-detail {
  opacity: 1;
}
